<nav class="navbar bg-white">
    <div class="container-fluid">
        <div class="navbar-nav d-flex flex-row col-3">
            <a href="" class="nav-link text-primary ms-4">NewReleases</a>
            <a href="" class="nav-link text-primary mx-2">Events</a>
            <a href="" class="nav-link text-primary">About</a>
        </div>
        <a href="" class="navbar-brand col-3 text-center h1 mt-2">Mibrary</a>
        <div class="col-3">
            <a href="" class="btn btn-secondary">Register</a>
            <a href="{{url_for('login')}}" class="btn btn-primary">Login</a>
        </div>
    </div>
</nav>